name: Python application
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        pip install selenium pytest pytest-html
    - name: Test with pytest
      run: |
        pytest --html=report.html --self-contained-html
    - name: Upload Test Report
      if: always() 
      uses: actions/upload-artifact@v4
      with:
        name: pytest-sprint-report-${{ github.run_number }} # Added run number for uniqueness
        path: report.html
        retention-days: 15  # Keeps the report for the full duration of a 2-week sprint